<%- include("partials/header") %>



<div class="container">





<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/<%=campgrounds.img %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=campgrounds.name%></h5>
    <p><%=campgrounds.description%><p>
      <% campgrounds.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>
   
  </div>
</div>
<%- include("partials/footer") %> 